.vscode
__pycache__/
*.py[cod]

/data/buildmap_data/*
!/data/buildmap_data/.gitkeep

/data/camera_data/*
!/data/camera_data/.gitkeep

/data/map_data/*
!/data/map_data/maps/
/data/map_data/maps/*
!/data/map_data/maps/.gitkeep

!/data/map_data/nodes/
/data/map_data/nodes/*
!/data/map_data/nodes/.gitkeep